body {
  display: flex;
  font-family: "Montserrat", sans-serif;
  padding-left: 20px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  gap: 30px;
  padding-top: 60px;
}
header input {
  width: 450px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid gray;
  /* background-color: red; */
  padding-left: 15px;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 550px;
  max-width: 720px;
  /* background-color: pink; */
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 10px;
}

.line {
  display: flex;
  align-items: center;
  height: 35px;
  font-family: "Montserrat", sans-serif;
  border: 1px lightgrey solid;
  padding-left: 20px;
  gap: 15px;
}

footer {
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  padding-top: 40px;
}
footer span {
  font-weight: bold;
}

@media (max-width: 784px) {
  .result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
    /* background-color: pink; */
    max-width: 90vw;
    margin-right: 40px;
    margin-left: 20px;
  }

  header input {
    max-width: 80vw;
    /* height: 38px; */
    margin-right: 30px;
    margin-left: 20px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 95vw;
  }
}
